version: "3.9"

services:

  backend:
    build: ./backend
    container_name: backend
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env.template
    depends_on:
      - db
      - ml-service

  ml-service:
    build: ./ml-service
    container_name: ml-service
    ports:
      - "5000:5000"

  admin-dashboard:
    build: ./admin-dashboard
    container_name: admin-dashboard
    ports:
      - "5173:3000"
    depends_on:
      - backend

  db:
    image: mongo:7
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: